<div id="MapUbications" class="side-map">
	<div id="Map" class="side-map__side map"></div>
	<div class="side-map__side list">
		<div class="side-map__side-list__group">
			<h3>Medellín</h3>
			<ul>
				<li>
					<span class="name">FAMILIAR DE REPUESTOS LTDA</span>
					<span class="address">CL 50 N. 55-92 BARRIO CENTRO</span>
					<span class="phones">+57 1 5116171 - 3014366718</span>
					<span class="location">6.251978,-75.57493</span>
				</li>
			</ul>
		</div>
		<div class="side-map__side-list__group">
			<h3>Barranquilla</h3>
			<ul>
				<li>
					<span class="name">CRA 12 A #49-17 SOLEDAD 2000</span>
					<span class="address">CL 50 N. 55-92 BARRIO CENTRO</span>
					<span class="phones">346 52 79 - 3004090726 FREDY FONTALVO</span>
					<span class="location">10.9245197,-74.8021955</span>
				</li>
			</ul>
		</div>
		<div class="side-map__side-list__group">
			<h3>Caquetá</h3>
			<ul>
				<li>
					<span class="name">TALLER SERVIGAS</span>
					<span class="address">CRA 12 # 17-18</span>
					<span class="phones">4352827-4358966 JORGE BECERRA</span>
					<span class="location">1.6172502,-75.6165898</span>
				</li>
			</ul>
		</div>
		<div class="side-map__side-list__group">
			<h3>Cundinamarca</h3>
			<ul>
				<li>
					<span class="name">FABRICA CONTINENTAL</span>
					<span class="address">CALLE 8 SUR N° 18 - 206</span>
					<span class="phones">5750000 - 3123792536</span>
					<span class="location">4.5891141,-74.2358831</span>
				</li>
			</ul>
		</div>
		<div class="side-map__side-list__group">
			<h3>Manizales</h3>
			<ul>
				<li>
					<span class="name">CENTRO DE SERVICIOS LA PIPA</span>
					<span class="address">CRA 18 · 22-30 AV. CENTRO</span>
					<span class="phones">8803701 - 3113549509 CARLOS MARIO FLOREZ</span>
					<span class="location">5.0703237,-75.521618,17</span>
				</li>
			</ul>
		</div>
		<div class="side-map__side-list__group">
			<h3>Villavicencio</h3>
			<ul>
				<li>
					<span class="name">REPARACIONES BERNAL</span>
					<span class="address">CALLE 37B 25-86</span>
					<span class="location">4.1521903,-73.6339227</span>
					<span class="phones">6726884 - 3114662595 - 3105548088 JORGE GUILLERMO BERNAL LEAL</span>
				</li>
			</ul>
		</div>
		<div class="side-map__side-list__group">
			<h3>Putumayo</h3>
			<ul>
				<li>
					<span class="name">CRISTIAN HERNANDO MONTOYA</span>
					<span class="address">CALLE 8 BARRIO EL EDEN</span>
					<span class="phones">3102518836 3102518836 CRISTIAN HERNADO MONTOYA</span>
					<span class="location">1.1495994,-76.6500064</span>
				</li>
			</ul>
		</div>
	</div>
</div>