.side-map {
	display: block;
	
	@include media-breakpoint-up(sm) { 
		display: flex;
	}

	&__side {
		padding: 24px;
		@include media-breakpoint-up(sm) {
			width: 50%;
		}

		&.map {
			min-height: rem(340px);
			.circle {
				display: block;
				width: rem(24px) !important;
				height: rem(44px) !important;
				background-size: 100% 100%;
				background-image: url('../img/misc/marker.svg');
			}
		}

		&-list {
			&__group {
				padding: rem(16px);
				border-bottom: rem(1px) solid $gray-c;
				&:last-child {
					border-bottom: none;
				}

				li {
					span {
						display: block;
						&.location {
							display: none;
						}
					}
				}
			}
		}
	}
}

.middle_header {
	padding: rem(32px) rem(20px);
	text-align: center;
	border-top: rem(1px) solid $gray-c;
	border-bottom: rem(1px) solid $gray-c;
	h3 {
		span, strong{
			display: inline-block;
			margin: 0 rem(16px);
		}

		strong {
			color: $brand-primary;
		}
	}
}