.carousel {
  box-shadow: none;
  margin: 0 0  1.5rem 0;
  width: 100%;
  padding: 0;
  .direction {
    z-index: auto;
  }
  .carousel-inner {
      height: auto;
  }
  .carousel-item {
    height: 100%;
    img {
      @media (max-width: 767px) {
        max-width: 100%;
        height: auto;
      }
      @media (min-width: 768px) {
      width: 100%;
      margin-left: 0;
    }
    }
    .caption {
      position: absolute;
      @media (min-width: 768px) {
      bottom: 28px;
      left: 90px;
      }
      @media (max-width: 767px) {
        bottom: 5px;
        left: 40px;
      }
      color: white;
      max-width: 340px;
      .caption-description p {
        color: white;
      }
    }
    figure {
      @media (max-width: 767px) {
        margin: 0;
      }
    }
  }
  .carousel-control {
    opacity: 1;
    .icon-next,
    .icon-prev {
      font-size: 1.3em;
      &::before {
        content: "";
      }
      i {
        font-size: 3.125rem;
        color: white;
      }
      &:hover {
        i {
          color: $brand-primary;
        }
      }
    }
    .icon-prev {
      left: 2rem;
    }
    .icon-next {
      right: 3rem;
    }
    &.left,
    &.right {
      background: none;
    }
  }
}
