.top-menu {
  > li {
    vertical-align: middle;
    position: relative;
  }

  &[data-depth="1"] {
    margin: 0.625rem;
    @include media-breakpoint-up(md) {
      display: flex;
      margin: 0 0 !important;
      min-width: 550px;
      &:before,
      &:after {
        display: none;
      }
    }
    > li {
      @include media-breakpoint-up(md) {
        flex-grow: 1;
        flex-basis: 0;
        height: 110px;
        margin: 0;
        position: relative;
        &::after {
          content: "";
          position: absolute;
          z-index: 1;
          width: 100%;
          height: 100%;
          top: 0;
          left: 0;
          background-size: 65%;
          background-repeat: no-repeat;
          background-position: center center;
        }
        > .collapse {
          top: 91% !important;
          left: 0 !important;
          min-width: 160px;
        }
      }
      > a {
        @include media-breakpoint-up(md) {
          display: block;
          position: absolute;
          bottom: 0;
          left: 0;
          text-align: center;
          font-size: rem(10px) !important;
          z-index: 2;
        }
      }

      &#category-63 {
        @include media-breakpoint-up(md) {
          &::after {
            background-image: url('../img/icons/icon-estufa-top.svg');
          }
        }
      }

      &#category-69 {
        @include media-breakpoint-up(md) {
          &::after {
            background-image: url('../img/icons/icon-estufa.svg');
          }
        }
      }

      &#category-56 {
        @include media-breakpoint-up(md) {
          &::after {
            background-image: url('../img/icons/icon-clock.svg');
          }
        }
      }

      &#category-33 {
        @include media-breakpoint-up(md) {
          &::after {
            background-image: url('../img/icons/icon-estufa-pro.svg');
          }
        }
      }

      &#category-64 {
        @include media-breakpoint-up(md) {
          &::after {
            background-image: url('../img/icons/icon-door.svg');
          }
        }
      }

      &#category-68 {
        @include media-breakpoint-up(md) {
          &::after {
            background-image: url('../img/icons/icon-radio.svg');
          }
        }
      }
    }
  }

  [data-depth="2"] {

  }

  a:not([data-depth="0"]) {
    display: block;
    padding: 0.625rem;
    color: $gray;
    font-weight: 400;
  }
  a.dropdown-submenu {
    color: $gray-darker;
    padding: 10px;
  }
  a[data-depth="0"] {
    font-weight: 300;
    padding: 1rem 0.625rem;
    font-size: 14px;
    text-align: center;
    @include media-breakpoint-up(md) {
      //max-width: 121px;
      white-space: normal;
    }
    &:hover {
      #header & {
        color: $sky;
        text-decoration: none;
      }
    }
  }
  a[data-depth="1"],
  a[data-depth="2"] {
    padding: 0 0.625rem 0.625rem 0;
  }
  .sub-menu {
    &.collapse {
      display: none;
    }
    box-shadow: 2px 1px 11px 2px rgba(0, 0, 0, 0.5);
    border: none;
    z-index: 18;
    left: 0;
    top: 40px !important;
    display: none;
    ul[data-depth="1"] > li {
      display: block;
      margin: 0;
      position:relative;
      z-index: 10;
      a {
        padding: 10px 15px;
      }
      .collapse {
        background: rgba(82, 82, 82, 0.9);
        z-index: 999;
        @include media-breakpoint-up(sm){
          position: absolute;
          width: 100%;
          left: 99%;
          top: 0;
        }
        .top-menu {
          li {
            &.category {
              a {
                display: block;
                white-space: normal;
                color: $white !important;
                &:hover {
                  color: $brand-primary !important;
                  background-color: $gray-darker;
                }
              }
            }
          }
        }
      }
      &:hover {
        > .collapse {
          display: block;
          a {
            display: block;
          }
          ul {
            li {
              &.category {
                position: relative;
                &:hover {
                  > .collapse {
                    display: block;
                    a {
                      display: block;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
    a:hover {
      color: $brand-primary;
    }
  }
  .popover {
    max-width: inherit;
    border-radius: 0;
  }
}

.popover.bs-tether-element-attached-top {
  margin-top: 0;
}

#_desktop_top_menu {
  .top-menu {
    &[data-depth="0"] {
      li {
        &:hover {
          .sub-menu {
            display: block !important;
          }
        }
      }
    }
  }
}

#mobile_top_menu_wrapper {
  margin: .625rem 0 0;
  padding-bottom: 0.625rem;
  background: white;
  #top-menu {
    margin-bottom: 0.625rem;
  }
  .top-menu {
    color: $gray-darker;
    .collapse-icons[aria-expanded="true"] {
      .add {
        display: none;
      }
      .remove {
        display: block;
      }
    }
    .collapse-icons .remove {
      display: none;
    }
    .navbar-toggler {
      display: inline-block;
      padding: 0;
    }
    a[data-depth="0"] {
      padding: 0.625rem;
      border-bottom: 1px solid $gray-lighter;
    }
    .collapse {
      display: none;
      &.in {
        display: block;
      }
    }
    .sub-menu {
      &.collapse {
        display: none;
        &.in {
          display: block;
        }
      }
      box-shadow: none;
      z-index: inherit;
      display: block;
      position: static;
      overflow: hidden;
      margin-left: 0;
      width: 100%;
      min-width: 100%;
      background: $gray-lighter;
      ul[data-depth="0"] > li {
        border-bottom: 1px solid $gray;
      }
      ul[data-depth="1"] {
        margin: 0;
        > li {
          float: none;
          margin: 0;
          a {
            text-transform: none;
          }
        }
      }
      ul {
        padding: 0;
      }
      li > a {
        padding: 0.625rem;
        border-bottom: 1px solid white;
        font-weight: bold;
      }
      ul[data-depth="2"] li a {
        padding-left: 1.25rem;
      }
      ul[data-depth="3"] li a {
        padding-left: 2.5rem;
      }
      ul[data-depth="4"] li a {
        padding-left: 3.75rem;
      }
    }
  }
  .js-top-menu-bottom {
    @include media-breakpoint-down(md) {
      display: none;
    }
    a {
      color: $gray;
    }
    .language-selector-wrapper {
      padding: 0.625rem;
      .language-selector {
        display: inline;
      }
    }
    .currency-selector {
      padding: 0.625rem;
    }
    #contact-link {
      padding: 0.625rem;
    }
    .user-info {
      padding: 0 0.625rem;
      a {
        padding: 0.625rem 0;
        display: block;
        width: 100%;
      }
    }
  }
}

#header {
  .header-top {
    padding: 0 0;
    @include media-breakpoint-up(sm){
      padding: 0 0 !important;
    }
    .menu {
      margin: 0 0;
      >ul {
        margin: 0 0;
        >li {
          a {
            padding: 10px 12px;
            font-size: 12px;
          }
        }
      }
    }
  }
}