.search-widget {
  display: inline-block;
  @include search-box;
}
.header-top {
  .search-widget {
    form {
      input[type="text"] {
        min-width: inherit;
        width: 100%;
      }
    }
  }
}
#checkout {
  #search_widget {
    display: none; /* Not ideal solution by allows to reuse same hooks/templates */
  }
}

#pagenotfound {
  .page-content {
    #search_widget {
      width: 100%;
    }
  }
}

.page-not-found {
  .search-widget {
    form {
      display: inline-block;
    }
  }
}

/*** Responsive part ***/
@include media-breakpoint-down(sm) {
  .header-top {
    .search-widget {
      float: none !important;
      width: 100%;
      padding: 10px 0 20px;
      text-align: center;
      form {
        display: inline-block;
        margin: 0 auto;
        input[type="text"] {
          min-width: inherit;
          background: white;
          width: 100%;
          max-width: 100%;
          min-width: 267px;
        }
      }
    }
  }
}
@include media-breakpoint-up(md) {
  .search-widget {
    margin-top: 24px;
    min-width: 17.63rem;
    form {
      input[type="text"] {
        min-width: inherit;
        width: 100%;
        background-color: transparent;
        border-color: $white;
        color: $white;
        @include placeholder {
          color: $white;
        }
      }
      button {
       color: $white; 
      }
    }
  }
}
