<div class="banner_page about-us">
	<div class="txt-wrapper">
		<h2><strong>DESDE 1972</strong> UNIENDO LAS FAMILIAS COLOMBIANAS</h2>
		<span class="brand-info">desde 1992</span>
		<p>Hacemos parte de los momentos más especiales en cada hogar de Colombia. Estamos presentes cuando la alegría se convierte en el ingrediente de cada día, cuando la vida se disfruta con puro sabor, cuando la llama del amor se enciende por primera vez y cuando la calidez de un abrazo es el comienzo de un para siempre.</p>
	</div>
</div>

<div class="wrapper-info-items location">
	<div class="container">
		<div class="info--item">
			<span class="icon-wrapper"><i class="material-icons">location_on</i></span>
			<p>
			Calle 8 SUR No. 18-206 San Isidro,<br/>
			Soacha-Cundinamarca-Colombia<br/>
			Dirección antigua (Cra. 1ra. No. 16-10)<br/>
			PBX:(57-1) 5750000<br/>
			Email:<a href="mailto:servicioalcliente@estufascontinental.com.co">servicioalcliente@estufascontinental.com.co</a>
			</p>
		</div>
		<div class="info--item schedulle">
			<span class="icon-wrapper"><i class="material-icons">schedule</i></span>
			<p>
			Lunes - Viernes
			8:00 AM - 5:30 PM
			</p>
			<p>	
			Sabados 
			8:00 AM - 12:30 PM
			</p>
		</div>
		<div class="info--item brand">
			<span class="icon-wrapper"><i class="c-logo"></i></span>
			<p>
			Nuestra Filosofía en INDUSTRIA DE ESTUFAS CONTINENTAL S.A - 
			EN REORGANIZACIÓN, es ofrecer productos con altos estándares 
			de calidad que generen satisfacción
			a nuestros clientes.
			</p>
		</div>
	</div>
</div>

<div class="wrapper-info-values">
	<div class="container">
		<div class="col-md-6 info--value-side">
			<header class="header--value">
				<h3>Valores</h3>
			</header>
			<div class="txt-wrapper">
				<ul>
					<li>
						<i class="material-icons">
						check_circle
						</i>
						<strong>Honradez:</strong> Todas las actuaciones de las personas que hacen parte de la Organización, deben obedecer a principios de rectitud e integridad, para construir bases ejemplarizantes que trasciendadn a terceros que generen cualquier tipo de relación con la Compañia.
					</li>

					<li>
						<i class="material-icons">
						check_circle
						</i>
						<strong>Compromiso:</strong> Cada integrante de la Organización debe poner a disposición sus más excelsas capacidades sin condicionamiento alguno, para poder generar la más alta sinegia y forjar como equipo de trabajo los mejores resultados.
					</li>
					<li>
						<i class="material-icons">
						check_circle
						</i>
						<strong>Responsabilidad:</strong> Debe nacer del interior de cada persona que haga parte de la Organización, y correspondeal sentimiento de hacer las actividaddes o funciones asignadas como parte integral de la construcción de los objetivos trazados.
					</li>
					<li>
						<i class="material-icons">
						check_circle
						</i>
						<strong>Lealtad:</strong> Los miembros de la Organización deben corresponder a un sentir de pertenencia y correspondencia para con la Organización, en donde se actué con acciones éticas y buenos principios morales, con el fin de no deteriorar la integridad de la Compañia.
					</li>

					<li>
						<i class="material-icons">
						check_circle
						</i>
						<strong>Respeto:</strong> Toda persona que sea parte activa de la Organización, debe observar en su actuar el respeto por los principios integrales de sus compañeros, así mismo, su trato debe ser cordial y no generar ningún tipo de discriminación.
					</li>
				</ul>
			</div>
		</div>
		<div class="col-md-6 info--value-side corporate">
			<div class="corporate-item">
				<header class="header--mision">
					<h3>Misión</h3>
				</header>
				<figure>
					<img src="/img/cms/thumb-mision.jpg" alt="MISION">
				</figure>
				<div class="txt-wrapper">
					<p>
						<strong>INDUSTRIA DE ESTUFAS CONTINENTAL S.A. - EN REORGANIZACIÓN</strong>, empresa dedicada a la fabricación y comercialización de productos para cocción de alimentos a gas, electrodomésticos y prestación de servicios varios incluidos los de ensayos de laboratorio según alcance, mediante el uso de tecnología adecuada y un equipo de trabajo competente, a través de un sistema de gestión integral, buscará la satisfacción de las partes y la obtención de beneficios económicos que garanticen su sostenibilidad.
					</p>
				</div>
			</div>
			<div class="corporate-item">
				<header class="header--mision">
					<h3>Visión</h3>
				</header>
				<figure>
					<img src="/img/cms/thumb-vision.jpg" alt="MISION">
				</figure>
				<div class="txt-wrapper">
					<p>
						<strong>INDUSTRIA DE ESTUFAS CONTINENTAL S.A. - EN REORGANIZACIÓN </strong> una vez avante al 2022, buscará ser una de las empresas líderes del mercado nacional, explorando nuevos mercados en el desarrollo de su objeto social, manteniendo los más altos estándares de calidad, contando con talento humano calificado, bajo un sistema de gestión integral, todo esto enmarcado en el cumplimiento de la normatividad legal y de responsabilidad social.
					</p>
				</div>
			</div>
		</div>
	</div>
</div>