header {
    &#header {
        
        // Top header
        .header-nav {
            @include media-breakpoint-up(md) {

            }
            .container {
                > .row {
                   > .hidden-sm-down {
                        @include media-breakpoint-up(md) {
                            display: flex;
                            flex-wrap: wrap;
                            justify-content: flex-end;
                        }

                

                        > .col-md-2 {
                            @include media-breakpoint-up(md) {
                                margin: initial;
                                display: table;
                                min-height: rem(39px);
                            }

                            #_desktop_contact_link {
                                @include media-breakpoint-up(md) {
                                    display: none;
                                    vertical-align: middle;
                                }
                                #contact-link {
                                    @include media-breakpoint-up(md) {
                                        margin: initial;
                                        margin-top: 0;
                                    }
                                }
                            }

                        }

                        .right-nav {
                            @include media-breakpoint-up(md) {
                                align-items: center;
                            }
                            #_desktop_user_info {
                                .user-info {
                                    @include media-breakpoint-up(md) {
                                        margin: initial;
                                        display: table;
                                    }
                                    a {
                                        @include media-breakpoint-up(md) {
                                            display: table-cell;
                                            vertical-align: middle;
                                        }
                                    }
                                }
                            }
                            #_desktop_cart {
                                .blockcart {                                    
                                    @include media-breakpoint-up(md) {
                                        height: auto;
                                        padding: rem(8px) rem(6px);
                                    }  
                                    .header {
                                        @include media-breakpoint-up(md) {
                                            margin:0 0;
                                        }
                                    }
                                }
                            }
                        }

                        > div {
                            @include media-breakpoint-up(md) {
                                width: auto;
                                font-size: 75%;
                            }
                        }
                    }
                }
            }
        }

        // Bottom header
        .header-top {
            > .container {

                // Mobile menu
                #_mobile_top_menu {
                    .top-menu {
                        li {
                            a {                                                
                                &.dropdown-item {
                                    position: relative;
                                    span {
                                        &.hidden-md-up {
                                            position: absolute;
                                            right: rem(10px);
                                            top: rem(4px);
                                        }
                                    }
                                }
                            }
                        }
                    }
                }

                > .row {
                    @include media-breakpoint-up(md) {
                        display: flex;
                        flex-wrap: wrap;
                        align-items: center;
                        justify-content: flex-start;
                    }

                    // Brand
                    #_desktop_logo {
                        @include media-breakpoint-up(md) {
                            float: none;
                        }
                        a {
                            display: table;
                            img {
                                display: table-cell;
                                vertical-align: middle;
                                @include media-breakpoint-up(md) {
                                    max-width: rem(150px);
                                }
                            }
                        }

                        h1 {
                          margin: 0 0;
                        }
                    }

                    // Menu 
                    .col-md-10 {
                        &.col-sm-12 {
                            &.position-static {
                                @include media-breakpoint-up(md) {
                                    float: none;
                                    padding-left: 0;
                                    margin: 0 0;
                                    display: table;
                                }

                                // Desktop Navigation
                                #_desktop_top_menu {
                                    @include media-breakpoint-up(md) {
                                        margin: 0 0;
                                        display: table-cell;
                                        vertical-align: middle;
                                    }
                                    // Nagigation
                                    .top-menu {
                                        @include media-breakpoint-up(md) {
                                            margin: 0 0;
                                        }
                                        > li {
                                            > a {
                                                @include media-breakpoint-up(md) {
                                                    white-space: nowrap;
                                                    padding: rem(25px) rem(20px);
                                                }
                                                @include mq(tb) {
                                                    padding: rem(10px);
                                                    font-size: rem(8px);
                                                }
                                            }

                                            .sub-menu {
                                                @include media-breakpoint-up(md) {
                                                    top: 65px!important;   
                                                }
                                                ul {
                                                    li {
                                                        a {
                                                            @include media-breakpoint-up(md) {
                                                                padding: rem(12px);
                                                            }                                                            
                                                        }
                                                    }
                                                }
                                            }
                                        }

                                        // Second level
                                        &[data-depth="1"]{
                                            > li {
                                                @include media-breakpoint-up(md) {
                                                    height: rem(96px);
                                                    &::after {
                                                        background-size: 62%;
                                                        background-repeat: no-repeat;
                                                        background-position: center rem(10px);
                                                    }
                                                    > a {
                                                        white-space: initial;
                                                        line-height: 1;
                                                    }
                                                    &#category-33 {
                                                        a {
                                                            padding-bottom: rem(4px);
                                                        }                                                        
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            
                                // Search control
                                .search-widget {
                                    @include media-breakpoint-up(md) {
                                        margin: 0 0;
                                    }
                                    form {
                                        @include media-breakpoint-up(md) {
                                            margin-top: rem(12px);
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}