@mixin search-box {
  form {
    position: relative;
    input[type=text] {
      &:focus {
        outline: 3px $brand-primary solid;
        color: $gray-darker;
        background: white;
        + button .search {
          color: $brand-primary;
        }
      }
      border: none;
      padding: 10px;
      min-width: 255px;
      color: $gray;
      border: $input-btn-border-width solid $input-border-color;
    }
    button[type=submit] {
      position: absolute;
      background: none;
      border: none;
      bottom: 0.3125rem;
      right: 0.125rem;
      color: $gray;
      .search:hover {
        color: $brand-primary;
      }
    }
  }
}

@mixin placeholder {
  &::-webkit-input-placeholder {@content}
  &:-moz-placeholder           {@content}
  &::-moz-placeholder          {@content}
  &:-ms-input-placeholder      {@content}  
}

@mixin box-shadow {
  box-shadow: 2px 2px 8px 0px rgba(0, 0, 0, 0.2);
}

@mixin box-shadow-light {
  box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.2);
}

@mixin mq ($consulta) {
  
  $media-xxs:"(min-width : 320px)";
  $media-xs: "(min-width : 480px)";
  $media-sm: "(min-width: 768px)"; 
  $media-md: "(min-width: 992px)";
  $media-lg: "(min-width: 1200px)";
  
  @if $consulta == xxs {
    @media #{$media-xxs} { @content; }
  }
  @if $consulta == xs {
    @media #{$media-xs} { @content; }
  }
  @else if $consulta == sm {
    @media #{$media-sm} { @content; }
  }
  @else if $consulta == md {
    @media #{$media-md}  { @content; }
  }
  @else if $consulta == tb {
    @media (min-width: 768px) and (max-width: 1199px)  { @content; }
  }
  @else if $consulta == lg {
    @media #{$media-lg}  { @content; }
  }
}
