.page-index {
	#wrapper {
		padding-top: 0;
		// Main overwrites
		> .container {
			width: 100%;
			margin: 0 0 0 0;
			padding: 0 0 0 0;
		}

		// Featured products
		.featured-products {
			max-width: 1140px;
			margin: 0 auto;			
		}

		#custom-text {
			max-width: 1140px;
			margin: 0 auto;	
		}
		  
		.banner {
			max-width: 1140px;
			margin: 0 auto 10px;	
			img {
				box-shadow: none;
				width: 100%;
				height: auto;
			}
		}

		.breadcrumb {
			max-width: 1140px;
			margin: 0 auto;
		}
	}
}