body {
	&.cms-id-7 {
		.page-cms-7 {
			table {
				margin: 30px auto;
				width: 100%;
				tr {
					td {
						padding: rem(12px);
						border: rem(1px) solid $gray-light;
						font-size: rem(13px);
						color: $gray;
						a {
							display: inline-block;
							vertical-align: middle;
							background-color: $brand-primary;
							color: $white;
							&:hover {
								background-color: $gray-c;
							}
						}
						&.lk {
							text-align: center;
						}
						strong {
							color: $brand-primary;
						}
					}
				}
			}	
		}
	}	
}
