body {
	&.cms-id-4 {
		#wrapper {
			padding-top: 0;
			// Main overwrites
			> .container {
				width: 100%;
				margin: 0 0 0 0;
				padding: 0 0 0 0;
			}

			.breadcrumb {
				display: none;
			}

			#content-wrapper {
				.page-header {
					display: none;
				}
			}
			section {
				&.page-cms-4 {
					padding: 0 0 0 0;
					margin-bottom: 0;
					// parallax banner
					.banner_page {
						text-align: center;
						position: relative;
						background-image: url('../img/banner-about.jpg');
						background-size: cover;
						background-attachment: fixed;
						padding: 85px 0;
						// Text behaviors
						.txt-wrapper {
							position: relative;
							width: 100%;
							max-width: 850px;
							margin: 0 auto;
							padding: 40px;
							border: 1px solid $white;
							.brand-info {
								overflow: hidden;
								width: 120px;
								height: 120px;
								background-image: url('../img/brand-since.png');
								background-size: 100% 100%;
								position: absolute;
								left:-160px;
								top: 81px;
								text-indent: -9999999px;
							}
							h2 {
								font-size: 30px;
								color: $white;
								font-weight: 400;
								strong {
									font-weight: 900;
								}
								@include media-breakpoint-up(sm) {
									font-size: 56px;
								}
							}
							p {
								color: $white;
							}
						}
					}
					
					.sells-qty {
						ul {
							margin: 0 auto;
							max-width: 1280px;
							padding: 20px 0;
							text-align: center;
							display: flex;
							flex-wrap: wrap;
							align-items: center;
							li {
								display: inline-flex;
								vertical-align: middle;
								margin: 0 0;
								padding: 0 0;
								width: 50%;
								@include media-breakpoint-up(sm) {
									width: 20%;
								}
								img {
									display: inline-block;
									width: 96%;
								}
							}
						}
					}

					// inline items
					.wrapper-info-items {
						background-color: $gray-light;
						.info--item {
							margin: 20px auto;
							display: block;
							background-color: $white;
							width: 100%;
							max-width: 320px;
							min-height: 280px;
							border-radius: 15px;
							padding: 15px;
							box-shadow: 0 0 10px $gray-c;
							text-align: center;
							line-height: 1.5;
							border-top: 5px solid $brand-primary;
							@include media-breakpoint-up(sm) {
								display: inline-block;
								vertical-align: top;
								margin: 30px 20px;
							}
							a {
								display: block;
								font-size: 12px;
							}
							.icon-wrapper {
								display: block;
								margin: 10px auto;
								width: 50px;
								height: 50px;
								background-color: $brand-blue;
								border-radius: 100%;
								text-align: center;
								i {
									font-size: 30px;
									line-height: 50px;
									color: $white;
									&.c-logo {
										background-image: url('../img/logo-small-white.svg');
										background-size: 39%;
										background-position: 50%;
										background-repeat: no-repeat;
										width: 50px;
										display: block;
										height: 50px;
									}
								}
							}
						}
					}

					// Values
					.wrapper-info-values {
						padding-top: 30px;
						border-top: 1px solid $gray-light;
						h3 {
							text-transform: uppercase;
							color: $brand-blue;
							font-size: 30px;
							position: relative;
							padding-bottom: 10px;
							&::after {
								content: "";
								width: 50px;
								height: 4px;
								display: block;
								position: absolute;
								bottom: 0;
								left: 0;
								background-color: $brand-primary;
							}
							strong {
								color: $brand-blue;
							}
						}
						.info--value-side {
							ul {
								padding: 10px 0;
								li {
									display: block;
									padding: 10px 10px 10px 40px;
									text-align: left;
									i {
										position: absolute;
										left: 0;
										font-size: 40px;
										color: $brand-primary;
									}
									strong {
										color: $brand-blue;
									}
								}
							}
							.corporate-item {
								margin-bottom: 20px;								
								img {
									width: 100%;
									margin: 20px 0;
								}
								strong {
									color: $brand-blue;
								}								
							}
						}
					}
				}
			}
		}
		#main {
			.page-footer {
				margin-bottom: 0;
			}
		}
	}
}